// Start Mixin code
@font-face {
  font-family: "Trickster";
  src:
    local("Trickster"),
    url("assets/fonts/Sahel-Bold-FD.eot") format("opentype"),
    url("assets/fonts/Sahel-Black-FD.ttf") format("opentype"),
    url("assets/fonts/Sahel-FD.woff") format("woff");
}

body {
  font-family: 'Trickster' !important;
}

@mixin He {
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
  padding: 10px 0 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
  display: flex;
  align-items: center;

  span {
    flex-grow: 1;
    height: 2px;
    background: #fefe;
    margin-top: 4px;
    background-color: gray;
  }

  h3 {

    font-weight: 600;
    font-size: 23px;
    margin-top: 8px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #0f3443;
  }
}

@mixin Slider-Setting {
  .swiper-slide {
    .card {
      border-radius: 8px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 8px 32px rgba(0, 0, 0, 0.08);
      padding-top: 30px;
      height: 460px;
      padding-bottom: 15px;
      cursor: pointer;

      .card-header {


        button {
          right: 6px;
          position: absolute;
          border-radius: 50%;
          margin-top: 1px;
          font-size: 16px;
          padding: 8px;
        }
      }

      .card-body {
        text-align: center;

        span {
          font-weight: bold;
          font-size: 18.5px;
          color: #ed1a1c
        }

      }

    }
  }

}



header {

  nav {


    transition: 0.4s;

    .nav-span{
      font-family: 'Trickster'
    }
    input {
      border: #cccc 1px solid;
      border-radius: 15px;
      padding: 15px;
      text-align: right;
      font-size: 17.5px;
      font-weight: 500;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .login-button {
      background-color: #cbcbcb;
      border-radius: 6px;
      font-weight: 500;
      font-size: 15px;
      color: #313a3f;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 8px 32px rgba(0, 0, 0, 0.08);

      &:hover {
        // background-color: aqua;
        color: black !important;
      }

    }

    .order-button {
      background-color: orange;
      border-radius: 6px;
      color: #FFFFFF !important;
      font-weight: 500;
      font-size: 15px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 8px 32px rgba(0, 0, 0, 0.08);
      transition: all 1.5s;

      &:hover {
        background-color: #34e89e;
        color: black !important;
      }

    }
  }

  .Category {
    margin-bottom: 15px;
    color: #000;
 


    .header-Category {
      height: 50px;
      color: #FFF;
      background-color: #171717;
      border: 1px solid #eeee;
      text-align: center;
      padding: 10px;
      transition: all 1s;

      &:hover {
        background-color: #ed1a1c;
        cursor: pointer;
      }

      i {
        color: #FFF;
      }


    }
  }
}

article {
  .slider-top {
    .swiper-slide {
      img {
        border-radius: 10px;
      }
    }
  }

  .Category-Mac {

    // background-color: #DEEBDD;
    background-color: #ebebeb;
    padding-top: 25px;


    @include Slider-Setting();

    .Header-Title {

      @include He();

    }
  }

  .Banner-Ads {
    img {
      border-radius: 15px;
    }
  }

  .Category-Iphone {

    @include Slider-Setting();

    .Header-Title {

      @include He();

    }
  }

  .Category-Airpad {
    @include Slider-Setting();

    .Header-Title {

      @include He();

    }
  }

  .Category-Ipad {
    @include Slider-Setting();

    .Header-Title {

      @include He();

    }

  }

  .Blog {
    .center-Side {
      margin-top: 10px;

      img {
        width: 100%;
        height: 475px;
        border-radius: 10px;



      }

      .datalist-img {
        position: relative;
        top: -25%;

        color: #FFF;
        font-weight: 700;

        h4 {

          font-size: 26px;
        }
      }
    }

    .card,
    .card-body,
    .card-header {
      border: none;
      background: white;
      text-align: right;
      font-size: 17px;
      font-weight: 700;

      img {
        width: 100%;
        height: 180px;
        border-radius: 10px;

      }
    }

  }
}

footer {
  height: max-content;
  padding-bottom: 50px;
  background-color: #313a3f;
  position: relative;
  bottom: 0;


  @media screen and (max-width: 600px) {
    .FooterBox {
      height: max-content;
    }
  }

  .FooterBox {
    background-color: orange;
    height: 150px;
    width: 100%;
    position: relative;
    top: -80px;
    border-radius: 10px;
    margin-right: 0px;
    margin-top: 180px;

    .FooterBoxText {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 37%;

      h5 {
        font-weight: bold;
        font-size: 26px;

      }
    }
  }

  .list-footer {

    .namad-Footer {
      li {
        background-color: #dfdfdf;
        margin: 6px;
        border-radius: 10px;

        cursor: pointer;

        &:hover {
          background-color: #939ca1;
        }

        img {

          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 15px;
          object-fit: cover;

          height: 150px;

        }
      }
    }

    text-align: center;

    h5 {
      color: #cbcbcb;
      text-align: right;

    }

    ul {
      list-style: none;
      margin-right: -38px;

      li {

        color: #eeee;
        padding-top: 15px;
        text-align: right;

        i {
          padding-left: 10px;
          font-size: 20px;

        }
      }
    }
  }
}

///Swiper Setting
.swiper-button-next,
.swiper-button-prev {
  background-color: #FFF;
  box-shadow: 0.5px 1px 7px black;
  height: max-content;
  width: max-content;
  border-radius: 50%;
  padding: 24px;
  color: #34e89e;
  font-size: 10px;
  color: black !important;



}





.swiper-rtl .swiper-button-prev:after {
  font-size: 18px;
  font-weight: bold;

}

.swiper-rtl .swiper-button-next:after {
  font-size: 18px;
  font-weight: bold;

}

.Information-Device {
  height: max-content;
  max-width: 99%;
  display: block;
  margin-top: 140px;


}

.Information-Device-Pics {
  background-color: #CCC;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;

  .title {
    h1 {
      font-size: 1.6em;

    }

    small {
      text-align: center;
      // display: flex;
      // justify-content: center;
      font-size: 14px;
      font-weight: 600;
      text-shadow: #313a3f;
      font-style: italic;

    }
  }
}

.Information-Device-Price {
  padding-top: 10px;
  background-color: #CCC;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
  height: max-content;

  font-weight: bold;
  font-family: sans-serif;
  ;

  .area-price {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: green;

    .offer {
      font-size: 19px;
      color: red;
    }
  }

  .add-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 25px;
    margin-top: 10px;


    .btn {
      width: 250px;

    }
  }
}

.instruction-product {
  margin-top: 120px;
  width: 100%;
  height: 300px;
  background-color: #CCC;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
  color: #FFF !important;


  a {
    color: #FFF !important;
    cursor: pointer;
    transition: all 1.5s;
    font-weight: bold;

    &:hover {
      border-bottom: 1px solid red;
    }
  }

  .Section-Data{
    background-color: #171616;
    height: 100px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
  }

}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");